<form method='post' action="/api/users">
    <input type="text" required id="name"='name' placeholder="Nombre"/>
    <input type="email" required id="email" name="email" placeholder="email"/>
    <input type="password" required id="password" name="password" placeholder="Contraseña"/>
    <button type="submit">Enviar</button>
</form>